<style type="text/css">
    .redBox {
        background: green;
        width: 100%;
        height: 50px;
        z-index: 1000;
        text-align: center;
        padding: 13px 0px;
        color: #fff;
        text-transform: uppercase;
    }
</style>
<%= render "layouts/header" %>
    <div class="main-banner banner text-center">
        <div class="container">
            <h1>Sell or Trade   <span class="segment-heading">    by BARTER </span> with Swapper</h1>
            <p>The first trade by barter online system in Nigeria</p>
            <a href="<%= new_product_path %>">Post Free Ad</a>
        </div>
    </div>
    <% if flash[:notice] %>
    <div class="redBox">
        <%= flash[:notice] %>
    </div>
    <% end %>
    <!-- Terms of use -->
    <div class="contact main-grid-border">
        <div class="container">
            <h2 class="head text-center">Contact Us</h2>
            <section id="hire">
                <%= form_for [message], :html => { :id => "filldetails" } do |f| %>
                    <% if message.errors.any? %>
                        <div id="error_explanation">
                          <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

                          <ul>
                          <% message.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                          <% end %>
                          </ul>
                        </div>
                    <% end %>
                    <div class="field name-box">
                        <%= f.text_field :name, id: "name", placeholder: "Who Are You?" %>
                        <label for="name">Name</label>
                        <span class="ss-icon">check</span>
                    </div>
                    <div class="field email-box">
                        <%= f.text_field :email, placeholder: "example@email.com" %>
                        <label for="email">Email</label>
                        <span class="ss-icon">check</span>
                    </div>
                    <div class="field phonenum-box">
                        <%= f.text_field :phone, id: "phone", placeholder: "Phone Number" %>
                        <label for="email">Phone</label>
                        <span class="ss-icon">check</span>
                    </div>
                    <div class="field msg-box">
                        <%= f.text_area :msg,  rows: "4", placeholder: "Your message goes here..." %>
                        <label for="msg">Your Msg</label>
                        <span class="ss-icon">check</span>
                    </div>
                    <%= f.submit value: "Send", class: "button" %>
                <% end %>
            </section>
            <script>
            $('textarea').blur(function() {
                $('#hire textarea').each(function() {
                    $this = $(this);
                    if (this.value != '') {
                        $this.addClass('focused');
                        $('textarea + label + span').css({ 'opacity': 1 });
                    } else {
                        $this.removeClass('focused');
                        $('textarea + label + span').css({ 'opacity': 0 });
                    }
                });
            });
            $('#hire .field:first-child input').blur(function() {
                $('#hire .field:first-child input').each(function() {
                    $this = $(this);
                    if (this.value != '') {
                        $this.addClass('focused');
                        $('.field:first-child input + label + span').css({ 'opacity': 1 });
                    } else {
                        $this.removeClass('focused');
                        $('.field:first-child input + label + span').css({ 'opacity': 0 });
                    }
                });
            });
            $('#hire .field:nth-child(2) input').blur(function() {
                $('#hire .field:nth-child(2) input').each(function() {
                    $this = $(this);
                    if (this.value != '') {
                        $this.addClass('focused');
                        $('.field:nth-child(2) input + label + span').css({ 'opacity': 1 });
                    } else {
                        $this.removeClass('focused');
                        $('.field:nth-child(2) input + label + span').css({ 'opacity': 0 });
                    }
                });
            });
            $('#hire .field:nth-child(3) input').blur(function() {
                $('#hire .field:nth-child(3) input').each(function() {
                    $this = $(this);
                    if (this.value != '') {
                        $this.addClass('focused');
                        $('.field:nth-child(3) input + label + span').css({ 'opacity': 1 });
                    } else {
                        $this.removeClass('focused');
                        $('.field:nth-child(3) input + label + span').css({ 'opacity': 0 });
                    }
                });
            });
            $('#hire .field:nth-child(4) input').blur(function() {
                $('#hire .field:nth-child(4) input').each(function() {
                    $this = $(this);
                    if (this.value != '') {
                        $this.addClass('focused');
                        $('.field:nth-child(4) input + label + span').css({ 'opacity': 1 });
                    } else {
                        $this.removeClass('focused');
                        $('.field:nth-child(4) input + label + span').css({ 'opacity': 0 });
                    }
                });
            });
            //@ sourceURL=pen.js
            </script>
            <script>
            if (document.location.search.match(/type=embed/gi)) {
                window.parent.postMessage("resize", "*");
            }
            </script>
        </div>
    </div>
    <!-- // Terms of use -->
    <%= render "layouts/footer" %>