<%= render "devise/header" %>
<section>
  <div id="page-wrapper" class="sign-in-wrapper">
    <div class="graphs">
      <div class="sign-in-form">
        <div class="sign-in-form-top">
          <h1>Sign Up and start Trading!</h1>
        </div>        
        <%= devise_error_messages! %>

        <div class="signin">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="log-input">
              <div class="log-input-left">
                <%= f.text_field :username, class: "user", value: "Username", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Your Username';}" %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="log-input">
              <div class="log-input-left">
                <%= f.email_field :email, class: "user", value: "Your Email", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Your Email';}" %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="log-input">
              <div class="log-input-left">
                <%= f.text_field :first_name, class: "user", value: "First Name", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Your First Name';}" %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="log-input">
              <div class="log-input-left">
                <%= f.text_field :last_name, class: "user", value: "Last Name", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Your Last Name';}" %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="log-input">
              <div class="log-input-left">
                <%= f.text_area :address, class: "address", value: "Address", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Your Address';}" %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="log-input">
              <div class="log-input-left">
                <%= f.text_field :phone, class: "phone", value: "Phone Number", onfocus: "this.value = '';", onblur: "if (this.value == '') {this.value = 'Your Phone Number';}" %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="log-input">
              <div class="log-input-left">
                <% password_length = @minimum_password_length.to_s+' '+'characters min )' if @minimum_password_length || "" %>
                <%= f.password_field :password, autocomplete: "off", class: "lock",  placeholder: "Enter password ( "+password_length, onfocus: "this.value = '';", onblur:"if (this.value == '') {this.value = 'Email address:';}" %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="log-input">
              <div class="log-input-left">
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "lock", placeholder: "Confirm password", onfocus: "this.value = '';", onblur:"if (this.value == '') {this.value = 'Email address:';}" %>
              </div>
              <div class="clearfix"> </div>
            </div>
            <input type="submit" value="Sign Up">
          <% end %>


        </div>
        <div class="new_people">
          <h2>Existing User?</h2>
          <p>Login to continue posting Ads for free</p>
          <%= link_to "Log In!", new_user_session_path %>
        </div>
      </div>
    </div>
  </div>
<!--footer section start-->
<footer class="diff">
  <p class="text-center">&copy; 2017 Swapper. All Rights Reserved | Design by <a href="https://madsuite.com/" target="_blank">Madsuite Technologies.</a></p>
</footer>
<!--footer section end-->
</section>