<!--footer section start-->
<footer>
    <div class="footer-top">
        <div class="container white">
            <div class="foo-grids">
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Who We Are</h4>
                    <p>The goal of swapper is to enable traders and buyers all over the country to sell,buy or exchange their goods with one another. </p>
                    <p>It also aims at connecting as many as possible nigerians together in the business world.</p>
  <%= image_tag "nigerian.jpg", style: "" %>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Help</h4>
                    <ul>
                        <li><a href="<%= home_howitworks_path %>">How it Works</a></li>
                        <li><a href="<%= faqs_path %>">Faq</a></li>
                        <li><a href="<%= new_message_path %>">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Information</h4>
                    <ul>
                        <li><a href="<%= terms_path %>">Terms of Use</a></li>
                        <li><a href="<%= privacy_policy_path %>">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Contact Us</h4>
                    <span class="hq">Our headquarters</span>
                    <address>
                        <ul class="location">
                            <li><span class="fa fa-map-marker"></span></li>
                            <li style="text-transform: capitalize;">Nigeria</li>
                            <div class="clearfix"></div>
                        </ul>
                        <ul class="location">
                            <li><span class="fa fa-phone"></span></li>
                            <li>+234 814 930 1200​⁠​</li>
                            <div class="clearfix"></div>
                        </ul>
                        <ul class="location">
                            <li><span class="fa fa-envelope"></span></li>
                            <li><a href="mailto:info@example.com">swapper.ng@gmail.com</a></li>
                            <div class="clearfix"></div>
                        </ul>
                    </address>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="footer-logo">
                <a href="<%= root_url %>"><span>Swap</span>per</a>
            </div>
            <div class="footer-social-icons">
                <ul>
                    <li><a class="facebook" href="https://www.facebook.com/swapper.com.ng"><span>Facebook</span></a></li>
                    <li><a class="twitter" href="https://www.twitter.com/swapper_ng"><span>Twitter</span></a></li>
                    <li><a class="instagram" href="https://https://www.instagram.com/swapper.ng"><span>Instagram</span></a></li>
                    <li><a class="googleplus" href="mailto:swapper.ng@gmail.com"><span>Google+</span></a></li>
                </ul>
            </div>
            <div class="copyrights">
                <p> © 2017 Swapper. All Rights Reserved | developed by <a href="https://facebook.com/gneratetech/"> Gnerate Technologies</a></p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</footer>
<!--footer section end-->
